</b><font color = #000066 size=6.5> Facultad de Ciencias</font>
<br><font color = #CC9933 size=6.5> UNAM </font>
<br><font color = ##A1C8DC size=6.5> Métodos Cuantitativos en Finanzas 2024-1 </font>
 <br><font color = silver size=7> Introducción a Python</font>

Referencia principal: *Python for Finance* de Antoine Jacquier.

# Introducción a Python (Primera Parte)

## Primeros pasos

### 1. Celdas `Cell`
Una Celda es como un ladrillo. Cada Entorno Colaborativo consiste en múltiples celdas y se pueden añadir con hacer click en la parte superior izquierda ( `+Código` `+Texto`) o bien poniendo nuestro cursos debajo de la última celda del Entorno Colaborativo ( `+Código` `+Texto`).

Para eliminar celdas le puedes dar click en la celda y luego seleccionar la casilla `Eliminar Celda` en la esquina superior derecha.

#### 1.1 Tipos de celdas

En Google Colab hay fundamentalmente dos tipos de celdas:
* `Texto`, que podemos usar para escribir texto (como éste) y formulas matemáticas a través de comandos de $LaTeX$, por ejemplo  
$$
\frac{1}{2\pi}\int_{\mathbb{R}}\exp\left(-\frac{x^2}{2}\right)dx = \cdots
$$

<br><font color = #3F6E9A size=5> NOTA </font>  Siempre que entreguen tareas en Notebooks de Python y para aplicar a trabajos que soliciten códigos, para hacer tareas en equipo, proyectos, etc.) es importante usar celdas de Texto y Código para hacer más comprensible y entendible su código.


* `Código` se utiliza para ejecutar código, los cuales se ejecutan desde un kernel en Colab.

In [ ]:
print("¡Hola estudiantes de MCF!", "Este es un ejemplo de celda tipo Codigo.")

¡Hola estudiantes de MCF! Este es un ejemplo de celda tipo Codigo.

In [ ]:
!python3 --version

Python 3.10.12

#### Usar el elemento `!`

En la celda anterior usamos `!` para conocer la versión que tenemos instalada de Python. El elemento `!` le dice al intérprete que mande el código a la línea de comando terminal de mi computador o bien desde el kernel (núcleo) de mi entorno colaborativo, como lo es Google Colab o Jupyter Notebook. De esta manera podemos utilizar este tipo de código que se debe correr en la terminal, directamente aquí en una celda tipo `Código`.

### Instalar paquetes/librerías/módulos de Python

Uno de los grandes beneficios de Python es que su comunidad desarrolladora es muy activa. Esto significa que, antes de que pienses en implementar un algoritmo por tu cuenta, vale la pena que revises si exite algún paquete de libre distribucón que realice la actividad que necesitas.

**PIP (Pip Installs Packages)** *es la herramienta para instalar dichos* paquetes.

Por ejemplo, YFinance es popular para obtener datos financieros desde Yahoo Finance, podemos instalarla con `pip install yfinance` en la línea de comandos o terminal.

O bien, usando la *keyword* `!` en una celda `Código` de la siguiente manera:

In [ ]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.10/dist-packages (0.2.28)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.5.3)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.23.5)
Requirement already satisfied: requests>=2.31 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.10/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.9.3)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2023.3)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.3.8)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.11.2)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->yfinance) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->yfinance) (2023.7.22)

## Datos numéricos y operaciones elementales

En Python existen tres tipos de datos numéricos elementales:


1.   `int`
2.   `float`
3.   `complex`

#### Datos númeicos de tipo enteros: `int`

Este tipo de variables se asocia al conjunto de los números enteros, sin embargo la capacidad de almacenar números muy muy grandes se ve limitado por la capacidad de memoria a la que tenga acceso nuestro sistema.

In [ ]:
5+2

7

In [ ]:
a = 5
b = -7

print(type(a))
print(type(b))

<class 'int'>
<class 'int'>

In [ ]:
a, b = 1, 10
print(a)
print(b)

1
10

<br><font color = #3F6E9A size=5> NOTA </font> `type()`es una ***función*** base de Python que recibe una variable y nos indica la ***Clase*** a la que pertenece. En este caso, a y b son elementos de la Clase `int`

#### Datos numéricos de tipo punto flotante: `float`

Este tipo de datos se asocia a los números reales que tienen una parte decimal.

In [ ]:
c = 21.54
d = -18.96
e = 1.0

print(type(c))
print(type(d))
print(type(e))

<class 'float'>
<class 'float'>
<class 'float'>

#### Datos numéricos de tipo número complejo: `complex`

Este tipo de datos se asocia a números pertenecientes al conjunto de los números complejos, aquellos que expresamos con una parte real y una parte imaginaria, es decir del tipo:
$$ z = a + ib$$
Donde $a,b\in \mathbb{R}$.

No obstante, la forma de escribir un número complejo en Python sigue una estructura de la siguiente forma:
```
z = a + bj
```

In [ ]:
z = 4 + 10j
w = -1 + 2j

print(type(z))
print(type(w))

<class 'complex'>
<class 'complex'>

## Operaciones básicas en Python

La suma de dos números la indicamos con `+` de la siguiente manera

In [ ]:
a = 5
b = -7.5
c = a + b

print(a+b)
print(c)

-2.5
-2.5

El producto de dos números lo indicamos mediante `*` de forma análoga a la suma

In [ ]:
a = 5.0
b = -7.0
c = a * b

print(a * b)
print(c)

-35.0
-35.0


La potencia la indicamos en Python con doble asterisco `** `, notando que en este caso (a diferencia de la suma o el producto) es importante el orden en que se indique la operación.

Básicamente:

$$ a**b := a^b $$

In [ ]:
5**2

25

La división la indicamos a través de `/` de la siguiente forma

In [ ]:
a = 10
b = 5
c = a / b

print(a / b)
print(c)

2.0
2.0

Como buena práctica de programación, para comentar nuestras líneas de código usamos `#`, de modo que todo lo que le proceda al sìmbolo *gato* "no será ejecutado".

In [ ]:
a = 10
b = 2

print(a+b) # esto es un comentario

12

También podemos agregar múltiples comentarios, por ejemplo para indicar más de un comentario a modo de párrafo agregando tres comillas simples `'''` antes del primer comentario y tres comillas simples `'''` después del último comentario.

In [ ]:
'''
Este es un comentario multilinea
Puedo escribir
Tantas lineas como sean necesarias
'''

'\nEste es un comentario multilinea\nPuedo escribir\nTantas lineas como sean necesarias\n'

Es común usar los comentarios multilínea para especificar partes de nuestro código, como la implementación de una clase, los parámetros de una función e incluso indicar comentarios importantes sobre el código en su totalidad.

In [ ]:
'''
Este codigo es una continuacion del curso de Python del curso de Métodos Cuantitativos en Finanzas.

@author Luis Eduardo Pavon Tinoco (P)
_author_ = "Christopher Alejandro Alarcon Ortega"
_author_ = "Abraham Gutierrez Barreto"

_since_ = "XFC"
_date_ = "august 30, 2023 19:40"
_version_ = "1 -- 3"

_contact_ = "christopher.alarcon@ciencias.unam.mx"

_status_ = "Active"
'''

'\nEste codigo es una continuacion del curso de Python del curso de Métodos Cuantitativos en Finanzas.\n\n@author Luis Eduardo Pavon Tinoco (P)\n_author_ = "Christopher Alejandro Alarcon Ortega"\n_author_ = "Abraham Gutierrez Barreto"\n\n_since_ = "XFC"\n_date_ = "august 30, 2023 19:40"\n_version_ = "1 -- 3"\n\n_contact_ = "christopher.alarcon@ciencias.unam.mx"\n\n_status_ = "Active"\n'

## Otros tipos de datos

### Tipos de datos Cadena de Caracteres (String): `str`

A diferencia de los tipos de datos que hemos visto hasta ahora, este tipo de datos nos permiten almacenar cadenas alfanuméricas. Por ejemplo:

In [ ]:
saludo = "Hola! Este es un saludo predeterminado"
nombre = "Christopher Alarcon Ortega"
edad = '18'
chisme = "Lo ultimo que le dijo fue: 'Ya mejor aquí la dejamos' "

print(chisme)
print(type(chisme))

Lo ultimo que le dijo fue: 'Ya mejor aquí la dejamos'
<class 'str'>

Dentro de este tipo de instancias, existe una operación llamada *Concatenación*, que básicamente me permite unir dos variables `str` en una sola, es una especie de "suma".

In [ ]:
saludo = "Hola,"
pregunta = "¿Cómo estás?"
nombre = "Chris"

#print(saludo + nombre + pregunta)

#print(saludo + " " + nombre + " " + pregunta)

print(saludo + " " + nombre + ". ¿Cómo estás?")

Hola, Chris. ¿Cómo estás?

In [ ]:
palabra = 'python 1'
len(palabra)

8

In [ ]:
palabra = 'prueba '
palabra * 3

'prueba prueba prueba '

## Métodos de conversión de datos

Imagina que tienes una variable edad de tipo  cuyo valor es '25'. Se podría decir que edad, aunque realmente es una cadena de caracteres, contiene un número. Sin embargo, si intentas sumar 10 a edad, el intérprete te dará un error porque edad es de tipo str y 10 un tipo numérico.

In [ ]:
edad = 10
edad = edad + 10
edad

20

La solución natural sería modificar desde nuestro código la variable edad de tipo `str` por su versión `int`. No obstante, Python nos ofrece una muy sencilla solución a este tipo de problemas con los princiaples tipos de datos que hemos revisado hasta el momento:


1.   `int()`: Devuelve la representación `int` del objeto que demos como parámetros, que puede ser un número flotante o una cadena de caracteres.
2.   `str()`: Devuelve la representación en cadena de caracteres del objeto que se pasa como parámetro.
3.   `float()`: Devuelve la representación `float` del objeto que demos como parámetro.
4.   `complex()`: Devuelve la representación `complex` del objeto que demos como parámetro.

In [ ]:
edad = '10'
edad = int(edad) + 5

print(edad)
print("Carlos tiene " + str(edad) + " años")

15
Carlos tiene 15 años

In [ ]:
edad = 15
edad = float(edad)
print(type(edad))

<class 'float'>

In [ ]:
saludo = "Hola!"
saludo = float(saludo)

ValueError: ignored

## Importar librerías
Una característica importante de Python como ecosistema, en comparación con otro lenguaje de programación, es la disponibilidad de una gran cantidad de bibliotecas y herramientas.

Estas bibliotecas y herramientas generalmente deben **importarse** cuando de necesiten (por ejemplo, una biblioteca de trazado). *Importar* `import` significa hacer que una biblioteca esté disponible para el espacio de nombres actual y el proceso de interpretación de Python actual.

Python en sí ya viene con un gran conjunto de bibliotecas que mejoran el intérprete básico en diferentes direcciones. Por ejemplo, cálculos matemáticos básicos, mientras que requiere operaciones (digamos) funciones matemáticas más complejas deben importarse a través de la biblioteca `math`. Cuando se inicia un programa de Python, solo tiene acceso a funciones y clases básicas.
("int", "dict", "len", "sum", "range", ...)

In [ ]:
import numpy # numerical library and manipulating arrays - flagship
import pandas # panel data - series and dataframes - also flagship
import matplotlib # graphics library
import scipy # scientific python
import nltk  # for natural language processing

Después de usar cualquier módulo, si ya no lo vamos a ocupar más se borra con la palabra `del`

In [ ]:
del nltk
dir()

['In',
 'Out',
 '_',
 '_10',
 '_11',
 '_13',
 '_14',
 '_15',
 '_17',
 '_19',
 '_2',
 '_22',
 '_28',
 '_3',
 '_37',
 '_38',
 '_41',
 '_42',
 '_43',
 '_8',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_exit_code',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'c',
 'chisme',
 'd',
 'e',
 'edad',
 'elemento',
 'exit',
 'get_ipython',
 'index',
 'matplotlib',
 'nombre',
 'numpy',
 'palabra',
 'pandas',
 'pregunta',
 'quit',
 'saludo',
 'scipy',
 'w',
 'z']

Se recomienda altamente usar la notación de objetos. Esa práctica le permite al programador tener mayor control y hacer más legible el código. Como ejemplo tenemos el módulo `numpy` y sar el objeto '`np` que se ve como sigue:

In [ ]:
import numpy as np

## Keywords

Las *keywords* son caracteres especiales que no pueden ser usados para darle nombre a una variable, ya que ellas tienen una implementación interna

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
False = 10

SyntaxError: ignored

## Listas, tuplas e índices

Al programar, vamos a querer usar objetos que guarden múltiples variables como arreglos (piensa en la series de tiempo financieras). Las **listas** y las **tuplas** te permiten hacer eso.

In [ ]:
mi_lista = [3,1,4,1,6] #Las listas (vectores) usan corchetes []

mi_tupla = (3,1,4,1,6) #Las tuplas usan corchetes ()

Para acceder al los elementos de la lista o la tupla usamos su índice, notando que la indexación empieza en 0.

In [ ]:
print("El primer elemento de mi lista es", mi_lista[0])
print("El segundo elemento es", mi_lista[1])
print("El último elemento de mi tupla es", mi_tupla[-1])
print("El penúltimo elemento es", mi_tupla[-2])

El primer elemento de mi lista es 3
El segundo elemento es 1
El último elemento de mi tupla es 6
El penúltimo elemento es 1

La forma de *indexar* los elementos de una lista, tupla o cadena de elementos cualquiera (por ejemplo, la cadena $\mathbb{C}1\varepsilon(\eta)ci\alpha\int$ ) en Python es iniciando con el cero y sumando uno por cada elemento al indizar de izquierda a derecha, o iniciando con el -1 y sumándole -1 a cada elemento si se indiza de derecha a izquierda.

<img src="https://drive.google.com/uc?export=view&id=14ZkvDSYdo7YSi8SGAuqGCkM4P4YIa6o8" style="width:200px">

Para acceder a una secuencia de más de un elemento de la lista o tupla hacemos lo siguiente:

`[ primer_indice : ultimo_indice+1 ]`

o también podemos obtener todos los elementos entre dos índices cada *n* pasos

`[ primer_indice : ultimo_indice+1 : numero_de_pasos ]`

In [ ]:
mi_lista

[1, 2, 3, 4, 5]

In [ ]:
print("Los primeros dos elementos de mi lista son", mi_lista[0:2])
print("También, los primeros dos elementos de mi lista son", mi_lista[1:])

print("Los últimos dos elementos de mi lista son", mi_lista[:-2])
print("Los cinco primeros elementos de mi lista pero cada 2 pasos (uno sí y uno no) son",  mi_lista[0:5:2])
mi_lista

Los primeros dos elementos de mi lista son [1, 2]
También, los primeros dos elementos de mi lista son [2, 3, 4, 5]
Los últimos dos elementos de mi lista son [1, 2, 3]
Los cinco primeros elementos de mi lista pero cada 2 pasos (uno sí y uno no) son [1, 3, 5]

[1, 2, 3, 4, 5]

In [ ]:
mi_otra_lista = [100 , True , 3.1416]
print("El primer elemento es", type(mi_otra_lista[0]))
print("El segundo elemento es", type(mi_otra_lista[1]))
print("El tercer elemento es ", type(mi_otra_lista[2]))

El primer elemento es <class 'int'>
El segundo elemento es <class 'bool'>
El tercer elemento es  <class 'float'>

La diferencia entre una lista y una tupla es que **las listas son instancias mutables** mientras que las tupplas no.

Es decir, *una vez que creas una tupla no puedes modificar ese objeto*, por el contrario, una lista sí puede ser modificada incluso después de haber sido creada.

En otras palabras, podemos modificar el valor de los elementos de una lista, e incluso añadir y/o quitar elementos.

In [ ]:
mi_lista

[1, 2, 3, 4, 5]

In [ ]:
mi_lista[0] = 5
mi_lista

[5, 2, 3, 4, 5]

Para quitar elementos de una lista usamos el método **.remove()**.
El argumento de este métodos es el índice del elemento que deseamos quitar de nuestra lista.

In [ ]:
mi_lista.remove(2) # Como argumento el elemento que queremos borrar
print(mi_lista)

[5, 3, 4, 5]

Para añadir elementos a una lista usamos el método **.append()**. Notar que este método añade un elemento al final de la lista (en el índice -1) y recibe como parámetro el elemento a añadir.

In [ ]:
mi_lista.append(5) # Como argumento el elemento que queremos añadir
print(mi_lista)

[5, 3, 4, 5, 5]

Para añadir elementos a una lista, indicando el índice en donde queremos sea almacenado, usamos el método **.insert()**.
Este método recibe dos parámetros. El primer parámetro corresponde el índice y el segundo al elemento a añadir.

In [ ]:
mi_lista.insert(2,9) # Primer argumento el índice y el segundo argumento el elemento a añadir
print(mi_lista)

[5, 3, 9, 4, 5, 5]

Otros métodos de listas en Python:


1.   `.reverse()`: nos devuelve una lista "en reversa", es decir con los elementos indexados empezando por el último y de forma
2.   `.extend()`: nos permite unir dos listas en una sola lista
3.   `.count()`: cuenta el número de veces que aparece un elemento en una lista
4.  `.index()`: nos indica el primer índice en donde aparece un elemento en una lista.
5.  `.remove()`: borra el primer elemento de una lista que coincida con un valor que nosotros especificamos.
6.  `.sort()`: ordena los elementos de una lista de menor a mayor. El parámetro opcional `reverse`nos permite idicar si es de forma ascendente o descendente.
7.  `.clear()`: vacía todos los elementos de una lista.

In [ ]:
mi_lista = [3, 4, 1, 6, 5, 9]

mi_lista.reverse()
print(mi_lista)

[9, 5, 6, 1, 4, 3]

In [ ]:
mi_lista = [3, True, "Variable", 6, "MCF", 9]
lista = [8,2,4,1]
mi_lista.extend(lista)

print(mi_lista)

[3, True, 'Variable', 6, 'MCF', 9, 8, 2, 4, 1]

In [ ]:
mi_lista = [3, "29", True, "Variable", 6, "MCF", True]

mi_lista.count(True)

2

In [ ]:
mi_lista = [3, "29", True, "Variable", 6, "MCF", True]

mi_lista.index(True)

2

In [ ]:
mi_lista = [3, "29", True, "Variable", 6, "MCF", True, "Variable"]

mi_lista.remove("Variable")
print(mi_lista)

[3, '29', True, 6, 'MCF', True, 'Variable']

In [ ]:
mi_lista = [3, 29, -10, 11, 8, -28, -12, 100]

mi_lista.sort()
print(mi_lista)

[-28, -12, -10, 3, 8, 11, 29, 100]

In [ ]:
mi_lista.sort(reverse=True)
print(mi_lista)

[100, 29, 11, 8, 3, -10, -12, -28]

In [ ]:
mi_lista.clear()
print(mi_lista)

[]

<br><font color = #3F6E9A size=5> NOTA </font> Cuando hacemos una copia de una lista, lo que cambiamos en una, se cambia en las dos

In [ ]:
mi_lista = [8,9,7]
mi_copia = mi_lista
mi_copia[0] = 10
print(mi_copia)
print(mi_lista)

[10, 9, 7]
[10, 9, 7]

Para solucionar esto, podemos hacer uso de la librería `copy`e implementar la siguiente función

In [ ]:
import copy

mi_lista = [8,9,7]
mi_copia = copy.deepcopy(mi_lista)
mi_copia[2] = 6
print(mi_copia)
print(mi_lista)

[8, 9, 6]
[8, 9, 7]

## Sentencias Condicionales

Las sentencias condicionales nos permiten realizar una operación o secuencia de código siempre que una condición se cumpla (o no).

Típicamente, las operaciones que verificamos a modo de condicionales son `<, >, ==, !=`

La primer sentencia condicional es `if`. Esta sentencia realiza la siguiente verificación:


```
if condicion :
  el bloque se ejecuta
  ...
  ...
codigo
```

También tenemos una sentencia `if-else` que nos permite tener una opción alternativa en caso de que la condición del `if` sea falsa.

En contraste con el condicional `if`, `if-else` siempre se ejecuta.

In [ ]:
a = 10

if a > 5:
    print("La variable 'a' es mayor que 5")
else:
    print("La variable 'a' es menor o igual que 5")

La variable 'a' es mayor que 5

In [ ]:
a = 7

if a % 2 == 0:
    print("El numero ", a , " es un numero par")
else:
    print("El numero ", a , "es un número impar")

El numero  7 es un número impar

También nos puede surgir el caso en el que queramos realizar distintas acciones según el valor de una variable.
Para solucionar esto podemos usar la sentencia `elif` todas las veces que necesitemos después de una sentencia `if`.

In [ ]:
command = input()

if command == 'a':
    print('Acciones del comando a')
elif command == 'b':
    print('Acciones del comando b')
elif command == 'c':
    print('Acciones del comando c')
else:
    print('Comando inválido')

También podemos tener sentencias `if-else` dentro de otras sentencias `if-else`

In [ ]:
x = 34
if x %  2 == 0:
  if x > 10:
    print("Este número es par y es mayor que 10")
  else:
    print("Este número es par, pero no mayor 10")
else:
  print ("El número no es par. Así que punto de verificación más.")

Este número es par y es mayor que 10

## Ciclos o Bucles

Los *ciclos* son operaciones fundamentales en programación. Nos permiten iterar una o varias líneas de código teniendo las veces que nosotros así lo deseemos.

El ejemplo siguiente es un ciclo sobre un arreglo.

En este contexto, la *identación*  nos permite conocer los límites y alcances de nuestro ciclo.

In [ ]:
for i in range(10):
    print("Número de ciclo", i)

#print("-------")
#print("Siempre iniciará en 0!!!")

Número de ciclo 0
Número de ciclo 1
Número de ciclo 2
Número de ciclo 3
Número de ciclo 4
Número de ciclo 5
Número de ciclo 6
Número de ciclo 7
Número de ciclo 8
Número de ciclo 9

In [ ]:
['¡hola!', 1, True, 1000]
enumerate( ['¡hola!',1,True,1000] )
list( enumerate( ['¡hola!',1,True,1000] ) )

[(0, '¡hola!'), (1, 1), (2, True), (3, 1000)]

In [ ]:
'''
for elemento in list( enumerate( ['¡hola!',1,True,1000] )):
    print(elemento)
'''
for index, elemento in enumerate( ['¡hola!',1,True,1000] ):
    print("El elemento", index ," en la lista es:", elemento)

El elemento 0  en la lista es: ¡hola!
El elemento 1  en la lista es: 1
El elemento 2  en la lista es: True
El elemento 3  en la lista es: 1000

In [ ]:
mi_lista = [1,2,3,4,5]
mi_lista_cuadrada = []

for element in mi_lista:
    mi_lista_cuadrada.append(element ** 2)

print(mi_lista_cuadrada)

[1, 4, 9, 16, 25]

En Python tenemos la opción de ***crear listas a través a partir de otros elementos que son iterables*** (es decir, que puedo repetir una operación bajo una cierta condición)

Una forma alternativa (y más eficiente) de programar el código anterior es usando ***listas por comprensión***.

La estructura general para crear una lista por compresión es la siguiente:


```
nueva_lista = [expresion/operacion    condicion_bucle_1    condicion_bucle_2 ...]
```

Un ejemplo donde podemos hacer uso de la creación de listas por compresión sería, dada una lista de números, crear una nueva lista con los sucesores de la lista dada.

En principio, podríamos hacer uso de un ciclo `for` para dicho propósito

In [ ]:
numeros = [1, 7, 14, -10, 5, 9, 10, 2, 3]
resultados = []
for n in numeros:
    resultados.append(n + 1)

resultados

[2, 8, 15, -9, 6, 10, 11, 3, 4]

Haciendo uso de listas por comprensión tendríamos lo siguiente

In [ ]:
numeros = [1, 7, 14, -10, 5, 9, 10, 2, 3]
resultados = [n + 1 for n in numeros]
resultados

[2, 8, 15, -9, 6, 10, 11, 3, 4]

Podemos agregar una condición, por ejemplo pidiendo que dichos numeros sean menor a 10 mediante el condicional `if`

In [ ]:
numeros = [1, 7, 14, -10, 5, 9, 10, 2, 3]
resultados = [n + 1 for n in numeros if n < 10]
resultados

[2, 8, -9, 6, 10, 3, 4]

In [ ]:
len(numeros)

9

In [ ]:
len(resultados)

7

En el caso de que se desee realizar una operación diferente cuando no se cumple la condición se puede hacer con un `else`. Aunque es necesario cambiar modificar el orden.

Si se utiliza un `else` la condición se tiene que situar justamente después de la expresión y antes del `for`.
```
nueva_lista = [expresion/operacion   if  condicion_if    else   expresion/operacion     bucle_for]
```
Por ejemplo, en el siguiente código los números mayores o iguales que tres se dejan sin modificar.

In [ ]:
numeros = [1, 7, 14, -10] #, 5, 9, 10, 2, 3]
resultados = []
for n in numeros:
  if n < 10:
    resultados.append(n+1)
  else:
    resultados.append(n)
  print(resultados)

[2]
[2, 8]
[2, 8, 14]
[2, 8, 14, -9]

In [ ]:
numeros = [1, 7, 14, -10, 5, 9, 10, 2, 3]
resultados = [n + 1 if n < 10 else n for n in numeros]
resultados

[2, 8, 14, -9, 6, 10, 10, 3, 4]

Un ejemplo típico de las listas por compresión es cuando hacemos uso de ciclos o bucles anidados, en particular podríamos estar anidadndo ciclos `for`.

Por ejmplo, podemos estar intereados en buscar el conjunto de elementos comunes en dos listas. Lo que se puede conseguir de con el siguiente código.

In [ ]:
nombres_1 = ['Oralie' ,'Imojean' ,'Michele', 'Ailbert', 'Stevy']
nombres_2 = ['Jayson', 'Oralie' ,'Michele', 'Stevy', 'Alwyn']
nombres_comun = []
for a in nombres_1:
    for b in nombres_2:
        if a == b:
            nombres_comun.append(a)

Su versión alternativa usando ciclos `for` sería iterando sobre los elementos de cada lista y después rescatar únicamente aquellos que coincidan.

In [ ]:
nombres_1 = ['Oralie' ,'Imojean' ,'Michele', 'Ailbert', 'Stevy']
nombres_2 = ['Jayson', 'Oralie' ,'Michele', 'Stevy', 'Alwyn']

nombres_comun = [a for a in nombres_1 for b in nombres_2 if a == b]
nombres_comun

['Oralie', 'Michele', 'Stevy']

Retomando el ejemplo que vimos al inicio, el código natural a efectur para llenar una lista con elementos al cuadrado es la siguiente

In [ ]:
mi_lista = [1,2,3,4,5]
mi_lista_cuadrada =[]

for element in mi_lista:
    mi_lista_cuadrada.append(element ** 2)

print(mi_lista_cuadrada)

[1, 4, 9, 16, 25]

Mientras que una lista por compresión con dicha operación estaría dada por la siguiente línea de código

In [ ]:
mi_lista = [1,2,3,4,5]
# [1,4,9,16,25]

mi_lista_cuadrada = [element**2 for element in mi_lista]
print(mi_lista_cuadrada)

[1, 4, 9, 16, 25]

In [ ]:
sum(mi_lista)

15